*{
  margin: 0px;
  padding: 0px;
}
.emtspace{
  background-color: black;
}
/* navigation bar */
.navbar{
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.navbar h3{
  display: inline-block;
  text-align: center;
  float: left;
  color: white;
  padding: 35px;
  background-color: black;
  min-width: 30%;
  margin: 0px;
  text-shadow: 1px 0px 2px grey;
}
.navbar b{
  color : rgb(217, 197, 15);
  font-size: 1.3em;
}
.navbar ul{
  list-style-type: none;
  background-color: black;
  overflow: hidden;
  text-align: center;
  padding: 30px;
  margin: 0px;
  display: block;
  min-width: 30%;
}

.navbar a{
  padding: 7px 15px;
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  border-radius: 50px;
}

.navbar li{
float :left;
}

.navbar img{
  display: inline-block;
  float: left;
  width: 98px;
  height: 98px;
  padding-left: 30px;
  background-color: black;
}

.navbar a:hover{
  background-color: rgb(217, 197, 15);
  color: black;
  text-shadow: 2px 2px 3px white;
  box-shadow: 2px 2px 3px white;
}

/* menu slider */

body{
  align-items: center;
  text-align: center;
}
.menu{
  margin: 0px;
  padding: 0px;
  background-color: black;
}
.menu img{
  display: inline-block;
  width: 400px;
  height: 500px;
  border-radius: 25px;
  box-shadow: 2px 2px 3px white;
}
.menu img:hover{
  width: 420px;
  height: 520px;
  border-radius: 15px;
  box-shadow: 2px 2px 3px gold;
}
.container{
  display: flex;
  justify-content: space-evenly;
}
/* footer */
.footer{
  display: inline-block;
  height: 35px;
  align-items: center;
  text-align: center;
}
.footer img{
  width: 35px;
  height: 35px;
  padding: 5px;
}
.footer img:hover{
  width: 45px;
  height: 45px;
  box-shadow: 0px 0px 5px black;
  border-radius: 50px;
  cursor: pointer;
}
